app_root = '/path/to/app'
debug = True
database_engine = 'django.db.backends.sqlite3' 
database_name = '/path/to/sqlite.db or dbname'
database_user = ''
database_password = ''
database_host = ''
database_port = ''
static_route = '/path/to/static'


