/*.tweet p {
  font-family: Georgia,"Times New Roman",serif;
  font-size: 22px;
  line-height: 28px;
  word-wrap: break-word;
}*/

.form-lang{
    margin:0;
}


#slider_ai .ui-slider-handle, #slider_mi .ui-slider-handle, #slider_pi .ui-slider-handle { border-color: #081A33; background: #2885FF; }
#slider_ai, #slider_mi, #slider_pi { background: #FFF1E2; }

.control-label{ font-weight:bold;}

.slider{
    width:400px; 
    margin-top:10px; 
    margin-bottom:10px; 
    margin-right:20px; 
    float:left;
}