    {% extends "base.html" %}

{% load i18n %}

{% block meta %}
  <meta property="og:title" content="Foowill" />
  <meta property="og:url" content="http://foowill.com" />
  <meta property="og:image" content="http://foowill.com/static/img/icon.jpg" />
  <meta property="og:site_name" content="foowill.com" />
{% endblock %}

{% block content %}

    {% include "user-box.html" %}

    <div class='main-box'>
        <div class='row-fluid home-initial-text'>
            <div class="span12">
                <div class="row-fluid">
                    <div class="span8">
                        <h3>{% trans "About Ba" %}</h3>
                        {% blocktrans %}
                        <p>Ba is a psychic strength, component of man's spiritual part, the animated strength of each deceased, spiritual personality manifested once death happened, according to Egyptian mythology.</p>
                        <p>It is a concept which refers to deceased man not to the alive one. Ba was a kind of mediator between gods and the earth, as it had mobility and it made possible that both worlds were connected. It was the way the deceased had for shifting and joining its ka which remained in the tomb.</p>
                        <p>Ba quitted the body when the person died and ascended to the celestial kingdom but, every night, it should come up to the tomb to lodge the deceased's body, it came and went from the gods' world to the tomb.</p>
                        <p>We chose Ba as a mascot in order to, as the Egyptians believed, carry a part of you when you are gone.</p>
                        <p><a href="http://www.egyptianmyths.net/ba.htm">More info</a></p>

                        {% endblocktrans %}
                    </div>
                    <div class="span4">
                        <img src='/static/img/foowill_color.jpeg'> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not user %}
         {% include "footer.html" %}
    {% endif %}

{% endblock %}