{% extends "base.html" %}

{% load extras %}
{% load i18n %}

{% block css %}
    <link href="/static/css/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block script %}
  <script src="/static/js/jquery-ui.min.js"></script>
  <script src="/static/js/slider.js"></script>

  <script>
     $(document).ready(function() {
        /*scale in diferent proportion*/
        trueValues = {% tuple2dict 'ACTIVITY_CHOICES' %}
        values =  [0,0,0,3,6,9,14,19,24,29,34,39,44,49,54,59,76,88,100];

        trueValues2 = {% tuple2dict 'PUBLISH_CHOICES' %}
        /*Using values to a proportional scale*/
        values2 =  {% values 'PUBLISH_CHOICES' %};

        /*Slider activity_interval*/
        new Slider("#slider_ai","#id_activity_interval",values, trueValues);
        new Slider("#slider_mi","#id_mail_interval",values, trueValues);
        new Slider("#slider_pi","#id_publish_interval",values2, trueValues2);

    });
  </script>
{% endblock %}

{% block content %}
    {% include "user-box.html" %}

    <div class='header-inner'>
        <h2>{% trans 'Settings' %}</h2>
    </div>

<div class='content-box'>

    {% if saved %}
        <div class="alert alert-success">
        {% trans "Settings saved" %}
        </div>
    {% endif %}

    {% if not user.configured %}
        <div class="alert alert-error">
        {% trans "You need to configure the application" %}
        </div>
    {% endif %}

        <form action="/config/" method="post" class="form-horizontal"> 

        {% csrf_token %}
        {{ form.non_field_errors }}

            <div class="control-group">
            <label class="control-label" for="email">{% trans 'Email' %}</label>
            <div class="controls">
                {{ form.email }}
                <p class="help-block">
                    {% trans 'We need your email to send you a verification email.' %}<br/>
                    {% trans 'If you leave the field blank, your saved tweets will be posted immediately after reaching the interval of inactivity.' %}
                </p>
                {{ form.email.errors }}
            </div>
            </div>


            <div class="control-group">
            <label class="control-label" for="activity_interval">{% trans 'Interval of inactivity' %}</label>
            <div class="controls">
                <div id="slider_ai" class='slider'></div>
                {{ form.activity_interval }}
                {{ form.activity_interval.errors }}
                <p class="help-block">
                    {% trans 'How long without updating your status should make us worry for you?' %}<br/>
                    {% if user.update_date %}
                        {% trans 'Your last update on twitter was' %} {{ user.last_update|relative_date }}
                    {% endif %}
                </p>
            </div>
            </div>


            <div class="control-group">
            <label class="control-label" for="mail_interval">{% trans 'Time pending verification' %}</label>
            <div class="controls">
                
                <div id="slider_mi" class='slider'></div>	
                {{ form.mail_interval }}
                {{ form.activity_interval.errors }}
                <p class="help-block">{% trans 'How long we wait for the response to verification mail?' %}</p>
            </div>
            </div>

            <div class="control-group">
            <label class="control-label" for="publish_interval">{% trans 'Publish interval' %}</label>
            <div class="controls">
                <div id="slider_pi" class='slider'></div> 
                {{ form.publish_interval }}
                {{ form.activity_interval.errors }}
                <p class="help-block">{% trans 'Interval of time between post-tweets update' %}</p>
            </div>
            </div>

            <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
            <button class="btn">{% trans 'Cancel' %}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
