{% extends "base.html" %}

{% load i18n %}

{% block head %}
<!-- TinyMCE -->
    <script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
            tinyMCE.init({
                    mode : "exact",
                    elements: "id_message",
                    theme : "advanced",
                    plugins : "autolink,fullscreen",
                    // Theme options
                    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,hr,fullscreen",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_statusbar_location : "bottom",
                    theme_advanced_resizing : true,
            });
    </script>
    <!-- /TinyMCE -->
{% endblock %}

{% block content %}

    {% include "user-box.html" %}

    <div class='main-box'>

    {% if infomail %}
        <div class="alert alert-success">
        {% trans "Message sent, we'll try to reply as soon as possible to the your email address:" %} <b>{{ from_email }}</b>
        </div>
    {% endif %}

    {% if not infomail and sended %}
        <div class="alert alert-alert">
        {% trans "Message unsent. Form errors, correct the fields and try again." %}
        </div>
    {% endif %}

    <div class='contact-form'>


    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="control-group">
        <label class="control-label" for="sender">{{form.name.label}}</label>
        <div class="controls">
            {{ form.name }}
            <p class="help-block"></p>
            {% if form.name.errors %}
                <div class="alert alert-error">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="sender">{{form.sender.label}}</label>
        <div class="controls">
            {{ form.sender }}
            <p class="help-block"></p>
            {% if form.sender.errors %}
                <div class="alert alert-error">
                    {{ form.sender.errors }}
                </div>
            {% endif %}
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="subject">{{form.subject.label}}</label>
        <div class="controls">
            {{ form.subject }}
            <p class="help-block"></p>
            {% if form.subject.errors %}
                <div class="alert alert-error">
                    {{ form.subject.errors }}
                </div>
            {% endif %}
        </div>
        </div>

        <div class="control-group">
        <label class="control-label" for="message">{{form.message.label}}</label>
        <div class="controls">
            {{ form.message }}
            <p class="help-block"></p>
            {% if form.message.errors %}
                <div class="alert alert-error">
                    {{ form.message.errors }}
                </div>
            {% endif %}
        </div>
        </div>


        <input type="submit" value="{% trans "Send Message" %}" />
    </form>

</div>
</div>
    {% if not user.configured %}
         {% include "footer.html" %}
    {% endif %}
{% endblock %}
