{% extends "base.html" %}

{% load extras %}
{% load i18n %}

{% block script %}
    <script>
    $("#id_text").maxChars(200, true);
    </script>

    <script src="/static/js/character_counter.js"></script>
    <script src="/static/js/twitterfriends-0.1.min.js"></script>
    <script>TwitterFriends.Init('{{user.username}}', $("#id_text"));</script>

{% endblock %}

{% block content %}
    {% include "modal-newposttweet.html" %}
    {% include "user-box.html" %}

    <div class='header-inner'>
        <h2>Post-tweets</h2>
    </div>

    <div class='content-box'>
        {% for tweet in tweets %}
            <div class='tweet'>
                <p>{% parse_tweet tweet.text %}</p>
                <i>{{ tweet.pub_date|relative_date }}</i>
        <!-- 	<a href="/tweet/open/{{tweet.pk}}"><i class="icon-eye-open icon-black"></i> Abrir</a> -->
                <a href="/tweet/delete/{{tweet.pk}}"><i class="icon-trash icon-black"></i>{% trans 'Delete' %}</a><br/>
            </div>
        {% endfor %}
    </div>
  </div>

</div>

{% include "modal-newposttweet.html" %}

{% endblock %}