{% extends "base.html" %}

{% load i18n %}

{% block script %}{% endblock %}

{% block content %}
  <div class="hero-unit">
    {% trans "Foowill is an application where you can save tweets twitter (post-tweets) that will be sent to your account when you die." %}<br/>
    {% trans "We really hope not ever having to send them, but because bad things happen, we give you this opportunity." %}<br/>
    {% trans "To check if you continue with us from time to time we will verify if you've updated your twitter account, that time you can decide yourself." %}<br/>
    {% trans "If after that time do not read anything new you have the option of a final check, we will send an email to the address of your choice so you can stop sending your tweets and post with a simple click let us know that fortunately still alive." %}<br/>
    <br/>{% trans "Everything in 3 simple steps:" %}<br/>
    1. {% trans "Please sign in to your twitter account accepting that send tweets on your behalf." %}<br/>
    2. {% trans "Configure the application by adding your email address and other parameters." %}<br/>
    3. {% trans "Saves all the tweets you want." %}<br/>
    <br/>
    
    {% if logued %}
	{% trans "Already logged in" %}. 
	<a href="/config" >{% trans "Configure the application" %}</a> {% trans "or" %} 
	<a href="/done" >{% trans "Save your post-tweets" %}</a>
    {% else %}
	<a href="{% url socialauth_begin 'twitter' %}" class="btn btn-primary btn-large">{% trans "Login with Twitter" %}</a>
    {% endif %}
  </div>

  <!-- Example row of columns -->
<!--  <div class="row">
    <div class="span4">
      <h2>Seguridad</h2>
	<p>Todos los mensajes se guardarán encriptados y nadie podrá leerlos hasta el día fatídico que no sepamos de tí.</p>
      <p><a class="btn" href="#">Más detalles &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>-->

{% endblock %}


