{% load extras %}
{% load i18n %}
<html>
<head></head>
<body>
{% language userlanguage %}

    <p>{% trans "Hello" %} <b>{{ username }}</b>,</p>
    
    {% blocktrans %}
    <p>This is an automatic message from <a href="http://www.foowill.com">foowill.com</a>.
    You have exceeded the time interval without updating your twitter status and we are worry about you.</p>
    {% endblocktrans %}

    <p>{% blocktrans with time_without_update|relative_date as time1 %}The latest news we have of you was {{ time1 }} ago.{% endblocktrans %}.</p>

    <p>
    {% blocktrans with half_dead_time_mail_interval|relative_date as time2 %}
        If you do not update your twitter status in the next {{ time2 }},
            we will proceed to send your post-tweets ({{ number_posts }}) that you saved on <a href="http://www.foowill.com">foowill.com</a> 
    {% endblocktrans %}
    </p>

    <p>{% blocktrans %}You also have the option to login on <a href="http://www.foowill.com">foowill.com</a> to stop the publish process.{% endblocktrans %}<br/>

    <p>{% trans "If you think it's necessary to increase the downtime interval on twitter, we recommend that you change your settings:" %}<br/>
    <a href="{{ link_for_config }}">{{ link_for_config }}</a></p>

    <p>{% trans "We remind you that you can add or delete post-tweets if you still want!" %}</p>

    <p>{% trans "Regards," %}</p>
    <p><a href="http://www.foowill.com">Foowill.com</a></p>
{% endlanguage %}
</body>
</html>